# Access MySQL with Python

This notebook shows how to access a MySQL database when using Python.

This notebook runs on Python.

## Table of contents

1. [Setup](#Setup) 
1. [Import the *PyMySQL* Python library](#Import-the-PyMySQL-Python-library)
1. [Confirm that MySQL is running](#Confirm-that-MySQL-is-running)
1. [Identify and enter the database connection credentials](#Identify-and-enter-the-database-connection-credentials)
1. [Create the database connection](#Create-the-database-connection)
1. [Create a table](#Create-a-table)
1. [Insert data into a table](#Insert-data-into-a-table)
1. [Query data](#Query-data)
1. [Close the database connection](#Close-the-database-connection)
1. [Summary](#Summary)


## Setup

You should have a MySQL instance installed and running in the cloud. MySQL is an open-source relational database management system (RDBMS) that is widely used as a client–server model RDBMS. To learn more, see the [MySQL website](https://www.mysql.com/). 
__Note:__ if you are using an Amazon RDS service, make sure it accept connections from every IP.


## Import the *PyMySQL* Python library

__PyMySQL__ is a pure-Python MySQL client library. Run the commands below to install and import the PyMySQL library:

In [1]:
!pip install -q PyMySQL

In [2]:
import pymysql.cursors

## Confirm that MySQL is running

You can test to see if MySQL is installed by opening your terminal and typing “mysql”. If you receive an error that MySQL cannot connect, it means that MySQL is installed, but not running.

## Identify and enter the database connection credentials

Connecting to MySQL database requires the following information:
* Host name or IP address 
* Host port
* default database name
* User ID
* User password

All of this information must be captured in a connection string in a subsequent step. Provide the MySQL connection information as shown:

In [3]:
#Enter the values for you database connection
dsn_database = "" # for example  "BLUDB"
dsn_hostname = "" # for example  "mydbinstance.cz6pjylrdjko.us-east-1.rds.amazonaws.com"
dsn_port = 3306        # for example  3306 without quotation marks
dsn_uid = ""      # for example  "user1"
dsn_pwd = ""      # for example  "7dBZ3jWt9xN6$o0JiX!m"

## Create the database connection
Set up a connection as follows. If a connect cannot be made an exception will be raised. 
*conn.cursor* will return a cursor object and you can use this cursor to perform queries:

In [4]:
#conn = MySQLdb.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)
conn = pymysql.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)

## Create a table

Create a test table named Cars. The code below drops the Cars table if it already exists, and then creates the new table:

In [5]:
conn.query("""DROP TABLE IF EXISTS Cars""")
conn.query("""CREATE TABLE Cars(Id INTEGER PRIMARY KEY, Name VARCHAR(20), Price INT)""")

0

## Insert data into a table

Run the following commands to create records in the new Cars table:

In [6]:
conn.query("""INSERT INTO Cars VALUES(1,'Audi',52642)""")
conn.query("""INSERT INTO Cars VALUES(2,'Mercedes',57127)""")
conn.query("""INSERT INTO Cars VALUES(3,'Skoda',9000)""")
conn.query("""INSERT INTO Cars VALUES(4,'Volvo',29000)""")
conn.query("""INSERT INTO Cars VALUES(5,'Bentley',350000)""")
conn.query("""INSERT INTO Cars VALUES(6,'Citroen',21000)""")
conn.query("""INSERT INTO Cars VALUES(7,'Hummer',41400)""")
conn.query("""INSERT INTO Cars VALUES(8,'Volkswagen',21600)""")

1

## Query data

To fetch and display records from the Cars table, create a cursor and execute queries on it:

In [7]:
cursor=conn.cursor()
cursor.execute("""SELECT * FROM Cars""")
cursor.fetchone()

(1, 'Audi', 52642)

You can display the records neatly using pretty print:

In [8]:
print ("\nShow me the databases:\n")
rows = cursor.fetchall()
import pprint
pprint.pprint(rows)

Show me the databases:

((2, 'Mercedes', 57127),
 (3, 'Skoda', 9000),
 (4, 'Volvo', 29000),
 (5, 'Bentley', 350000),
 (6, 'Citroen', 21000),
 (7, 'Hummer', 41400),
 (8, 'Volkswagen', 21600))

## Close the database connection
It is good practice to close your database connection after work is done:

In [9]:
conn.close()

## Summary

This notebook demonstrated how to establish a connection to a MySQL database from Python using the PyMySQL library. For more information on the PyMySQL package see the official [PyMySQL Documentation](http://pymysql.readthedocs.io/en/latest/).

## Want to learn more?
### Free courses on <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu/" rel="noopener noreferrer" target="_blank">Cognitive Class</a>: <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu" rel="noopener noreferrer" target="_blank"><img src = "https://ibm.box.com/shared/static/xomeu7dacwufkoawbg3owc8wzuezltn6.png" width=600px> </a>

### Authors

**Saeed Aghabozorgi**, PhD, is a Data Scientist in IBM with a track record of developing enterprise-level applications that substantially increases clients' ability to turn data into actionable knowledge. He is a researcher in the data mining field and an expert in developing advanced analytic methods like machine learning and statistical modelling on large data sets.

**Polong Lin** is a Data Scientist at IBM in Canada. Under the Emerging Technologies division, Polong is responsible for educating the next generation of data scientists through Big Data University. Polong is a regular speaker in conferences and meetups, and holds an M.Sc. in Cognitive Psychology.

Copyright © 2016, 2018 Cognitive Class. This notebook and its source code are released under the terms of the <a href="https://bigdatauniversity.com/mit-license/" rel="noopener noreferrer" target="_blank">MIT License</a>.